In [1]:
pwd

'C:\\Users\\manan\\Desktop\\mr\\mrproject\\ml-latest-small'

In [ ]:
if __name__ == '__main__':
    moviesrecommend.run()
    
    
    def mapper_combinations(self,userid,ratings):
        for movierating1,movierating2 in combinations(ratings,2):
            
            movieid1 = movierating1[0]
            rating1 = movierating1[1]
            movieid2 = movierating2[0]
            rating2 = movierating2[1]
            yield (movieid1,movieid2), (rating1,rating2)
            yield (movieid2,movieid1), (rating2,rating1)

In [1]:
!python moviess.py --name=movies.csv ratingsnew.csv > movierecommendation.txt

No configs found; falling back on auto-configuration
No configs specified for inline runner
Creating temp directory C:\Users\manan\AppData\Local\Temp\moviess.manan.20200414.150733.781610
Running step 1 of 3...
Running step 2 of 3...
Running step 3 of 3...
job output is in C:\Users\manan\AppData\Local\Temp\moviess.manan.20200414.150733.781610\output
Streaming final output from C:\Users\manan\AppData\Local\Temp\moviess.manan.20200414.150733.781610\output...
Removing temp directory C:\Users\manan\AppData\Local\Temp\moviess.manan.20200414.150733.781610...

In [ ]:
for in in j:
    def load_movie_names(self):
        # Load database of movie names.
        self.movieNames = {}
        with open('movies.csv', newline='') as f:
            reader = csv.reader(f)
            for line in reader:
                fields = line.split(',')
                self.movieNames[int(fields[0])] = fields[1]
                print(movieNames)
for i in j:
    rating = pd.read_csv('movies.csv', sep='\t', names=r_cols, usecols=range(4))
    rating.head()

    
def mapper_parse_input(self, key, line):
        r_cols = ['user_id', 'movie_id', 'rating','timestamp']
        yield  userID, (movieID, float(rating))
        rating = pd.read_csv('movies.csv', sep='\t', names=r_cols, usecols=range(4))
        rating.head()

        
def mapper_parse_input(self, key, line):
        r_cols = ['user_id', 'movie_id', 'rating','timestamp']
        yield  userID, (movieID, float(rating))
        rating = pd.read_csv('movies.csv', sep='\t', names=r_cols, usecols=range(4))
        rating.head()
        yield  userID, (movieID, float(rating))

In [15]:
import pandas as pd
df = pd.read_csv('ratings.csv')

In [16]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB